body {
	font-family: 'Roboto'; sans-serif;
	background-color: #E9C2A6;
}

#NativeLogo {
	width: 20%;
    margin-left: 20px;
    padding: 20px;
}

.Austin1 {
	vertical-align: middle;
	margin-top: 3%;
	margin-left: 20%;
}

header {
	background-color: #33CCCC;
	border-bottom: 30px solid black;
}

nav {
	font-size: 25px;
	float: right;
	margin-right: 100px;
	margin-top: 20px;
}

nav a{
	display: inline-block;
	text-decoration: none;
	margin: 40px;
	color: #000000;
	border-bottom: 3px solid black;
}
a:hover {
	background-color: #FFFFFF;
}

section {
	display: inline-block;
    width: 85%;

}

#banner {
	width: 800px;
	height: 535px;
	position: relative;
}

#banner ul{
	width: 800px;
	height: 535px;
	list-style: none outside none;
	position: relative;
	overflow: hidden;
}

#banner li:first-child {
	display: list-item;
	position: absolute;
}

#banner li{
	position: absolute;
	display: none;
}

#banner .prevButton{
	height: 72px;
	width: 68px;
	position: absolute;
	background: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-3d-buttons-icons-arrows/007731-glossy-black-3d-button-icon-arrows-arrow-thick-right.png) no-repeat;
	top: 50%;
	margin-top: -36px;
	cursor: pointer;
	z-index: 2000;
	background-position: left top;
	left: 0;
}

#banner .prevButton:hover{
	background-position: left bottom; left: 0;
}

#banner .nextButton{
	height: 72px;
	width: 68px;
	position: absolute;
	background: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-3d-buttons-icons-arrows/007731-glossy-black-3d-button-icon-arrows-arrow-thick-right.png) no-repeat;
    top: 50%;
	margin-top: -36px;
	cursor: pointer;
	z-index: 2000;
	background-position: right top;
	right: 0;
}

#banner .nextButton:hover{
	background-position: left bottom; left: 0;
}

.city {
	width: 200px;
	height: 100px;
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	float: right;
    line-height: 90px;
    margin: 2%;
    border: 3px solid black;
}

.city:hover {
	background-color: #97694F;
}


.city h2 { 
   vertical-align: middle;
   font-weight: bold;
}

.column {
	float: left;
	width: 200px;
  	height: 100px;
	padding: 20px;
	margin-left: 180px;
	list-style-type: square inside url("sqpurple.gif")
}

h3 {
	margin-left: 180px;
}

#resourcesleft a {
	text-decoration: none;
	color: #000000;
	margin: 10px;
}

#resourcesleft ul {
	list-style: square inside url("sqpurple.gif");
	: 3px;
}

#resourcesright a {
	text-decoration: none;
	color: #000000;	
	margin: 10px;
}

#resourcesright ul {
	list-style: square inside url("sqpurple.gif");
}

footer {
	clear: both;
	margin-top: 25px;
	border-top: 30px solid black;
	padding: 25px;
}

h3 {
	font-size: 2em;
	font-style: italic;
	text-decoration: underline;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
